# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.flakes/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Virtual Environments ---
# No venv files allowed
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# --- AI / Machine Learning ---
# Allow .pt files (specifically requested)
!*.pt
# Specifically exclude these image outputs
Person-Detection-and-GeoTagging-master/outputs/images/
# Pipeline/outputs/images/
# Pipeline/flights/


# --- React / Node / Frontend ---
node_modules/
.next/
out/
build/
.vercel
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnpm-store

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
